<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Due Date</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Task 1</th>
      <td>Some description</td>
      <td>Tomorrow</td>
      <td>
        <span class="task-badge task-badge--neutral">Pending</span>
      </td>
    </tr>
    <tr>
      <td>Task 2</th>
      <td>Some description</td>
      <td>Wednesday</td>
      <td>
        <span class="task-badge task-badge--neutral">Pending</span>
      </td>
    </tr>
    <tr>
      <td>Task 3</th>
      <td>Some longer description</td>
      <td>20 Mar</td>
      <td>
        <span class="task-badge task-badge--neutral">Pending</span>
      </td>
    </tr>
    <tr>
      <td>Task 4</th>
      <td>Some longer description</td>
      <td>&ndash;</td>
      <td>
        <span class="task-badge task-badge--success">Done</span>
      </td>
    </tr>
    <tr>
      <td>Task 5</th>
      <td>&ndash;</td>
      <td>&ndash;</td>
      <td>
        <span class="task-badge task-badge--success">Done</span>
      </td>
    </tr>
  </tbody>
</table>
<div><span class="fw-bold">Total</span>: 5</div>
