<section class="summary-panel tasks-wrapper">
  <h4 class="header-underline">
    My tasks
    <%= link_to project_tasks_path(current_project), class: 'task-link' do %>
      <i class="fa-regular fa-user fa-fw"></i>All my tasks
    <% end %>
  </h4>
  <ul class="task-list">
    <li class="task-list-item">
      <i class="fa-regular fa-circle-check fa-fw task-icon"></i>
      <span class="task-primary-data">Task name</span>
      <span class="task-delimiter">/</span>
      <span class="task-secondary-data">Methodology</span>
      <span class="task-secondary-data"><i class="fa-regular fa-bell fa-fw"></i>Tomorrow</span>
    </li>
    <li class="task-list-item">
      <i class="fa-regular fa-circle-check fa-fw task-icon"></i>
      <span class="task-primary-data">Task name</span>
      <span class="task-delimiter">/</span>
      <span class="task-secondary-data">Methodology</span>
      <span class="task-secondary-data"><i class="fa-regular fa-bell fa-fw"></i>Wednesday</span>
    </li>
    <li class="task-list-item">
      <i class="fa-regular fa-circle-check fa-fw task-icon"></i>
      <span class="task-primary-data">Task name</span>
      <span class="delimiter">/</span>
      <span class="task-secondary-data">Methodology</span>
      <span class="task-secondary-data"><i class="fa-regular fa-bell fa-fw"></i>20 Mar</span>
    </li>
    <li class="task-list-item">
      <i class="fa-regular fa-circle-check fa-fw task-icon"></i>
      <span class="task-primary-data">Task name</span>
      <span class="task-delimiter">/</span>
      <span class="task-secondary-data">Methodology</span>
      <span class="secondary-data"></span>
    </li>
    <li class="task-list-item">
      <i class="fa-regular fa-circle-check fa-fw task-icon"></i>
      <span class="task-primary-data">Task name</span>
      <span class="task-delimiter">/</span>
      <span class="task-secondary-data">Methodology</span>
      <span class="task-secondary-data"></span>
    </li>
  </ul>
</section>
