.task-primary-data {
  font-weight: bold;
}

.task-secondary-data,
.task-icon {
  color: $mutedText;
}

.task-delimiter {
  padding-inline: 0.5rem;
}

.task-link {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.task-list {
  margin: 0;
  padding: 0;

  .task-list-item {
    display: flex;
    align-items: center;
    padding-block: .75rem;

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $borderColor;
    }

    span:last-child {
      margin-left: auto;
    }
  }
}

.tasks-section {
  .tasks-accordion-header {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    margin-bottom: 0;
    color: $defaultText;
    transition: all 0.5s ease-in-out;
  }
}
